<div class="col-12">
    <div class="product__content_sum">
        <div class="sum_item">
            <div class="sum_item_title">
                <p>{{ self.label }}: </p>
            </div>
            {% if page.product.old_price %}
                <div class="sum_item_new">
                    <p>{{ page.product.price }} <i>грн.</i></p>
                </div>
                <div class="sum_item_old">
                    <p>{{ page.product.old_price }} <i>грн.</i></p>
                </div>
            {% else %}
                <div class="sum_item_new">
                    <p>{{ page.product.price }} <i>грн.</i></p>
                </div>
            {% endif %}
        </div>
        <div class="sum_item">
            <div class="sum_item_button">
                {# Здесь можно добавить логику добавления в корзину #}
                <a href="#" class="button">Купить</a>
            </div>
        </div>
    </div>
</div>
