version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    env_file:
      - .env.prod
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    command: /bin/sh -c "redis-server --requirepass $${REDIS_PASSWORD}"
    env_file:
      - .env.prod
    volumes:
      - redis_data_prod:/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $${REDIS_PASSWORD} ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: ../
      dockerfile: backend/Dockerfile.prod
    env_file:
      - .env.prod
    volumes:
      - static_data_prod:/app/backend/static
      - media_data_prod:/app/backend/media
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: always

  celery:
    build:
      context: ../
      dockerfile: backend/Dockerfile.prod
    command: celery -A mysite worker --loglevel=info
    env_file:
      - .env.prod
    volumes:
      - media_data_prod:/app/backend/media
    depends_on:
      - backend
      - redis
      - db
    restart: always

  nginx:
    image: nginx:1.25-alpine
#    expose:
#      - "80"
    ports:
      - "80:80"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_data_prod:/app/backend/static:ro
      - media_data_prod:/app/backend/media:ro
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data_prod:
  redis_data_prod:
  media_data_prod:
  static_data_prod:
