{% load i18n wagtailcore_tags %}

{% for post in news_items %}
    <div class="{% if post.is_wide_display %}col-12{% else %}col-lg-4 col-md-6 col-12{% endif %} mb-5 fade-in-item">
        {% include "news/includes/news_card.html" with post=post %}
    </div>
{% endfor %}

{% if news_items.has_next %}
    <div id="load-more-target" class="col-12 text-center mt-4" style="width: 100%;">
        <button
            class="button button_transparent"
            hx-get="?page={{ news_items.next_page_number }}"
            hx-target="#load-more-target"
            hx-swap="outerHTML"
            hx-indicator="#loading-indicator">
            {% trans "Посмотреть еще" %}
        </button>
        <div id="loading-indicator" class="htmx-indicator" style="display:none; margin-top: 10px;">
            {% trans "Загрузка..." %}
        </div>
    </div>
{% endif %}
