{% load wagtailimages_tags django_vite %}

{% if self.background_image %}
    {% image self.background_image original as bg_img %}
{% endif %}

<div class="parallax" data-scrollax-parent="true">
    <section class="eco overlay" style="background-image: url('{% if bg_img %}{{ bg_img.url }}{% else %}{% vite_asset_url 'app/img/eco.jpg' %}{% endif %}')" data-scrollax="properties: { translateY: '30%' }">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <a href="#" class="text-center d-block" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">

                    {% if self.icon %}
                        {% image self.icon original class="nut-icon" style="margin: 0 auto; display: inline-block;" %}
                    {% else %}
                         <i class="nut-icon icons-eco"></i>
                    {% endif %}

                    <h2>{{ self.title }}</h2>
                    <p>{{ self.text|linebreaksbr }}</p>
                </a>
            </div>
        </div>
    </section>
</div>
