{% load i18n wagtailuserbar navigation_tags django_vite %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'ru' }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}</title>
    <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#337D5A">

    <link rel="shortcut icon" href="{% safe_vite_asset 'app/img/icon.png' %}" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    {% vite_hmr_client %}
    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}home{% endblock %}">
    {% wagtailuserbar %}
    {% include "includes/header.html" %}
    {% include "includes/popup_cart.html" %}

    <main>
        {% has_hero_block as has_hero %}
        {% if not has_hero %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% breadcrumbs is_hero=False %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}
    {% vite_asset 'app/js/common.js' %}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVofcK1JyIWtVb3kaEbvHi9WqHCteWpxI&amp;callback=initMap"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock %}

{% if messages %}
<div id="msg-container" style="position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999; min-width: 300px;">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} text-center shadow" style="background-color: #337d5a; color: white; border: none; border-radius: 5px; padding: 15px 20px; margin-bottom: 10px;">
        <i class="fa fa-check-circle" style="margin-right: 8px;"></i> {{ message }}
    </div>
    {% endfor %}
</div>
<script>
    setTimeout(function() {
        var msg = document.getElementById('msg-container');
        if (msg) {
            msg.style.transition = "opacity 0.5s ease";
            msg.style.opacity = 0;
            setTimeout(function(){ msg.remove(); }, 500);
        }
    }, 4000);
</script>
{% endif %}
</body>
</html>
