{% extends "base.html" %}
{% load i18n django_vite %}

{% block content %}
<section class="section" style="padding: 100px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <h2 class="text-center mb-5" style="font-weight: 700;">{% trans "Новый пароль" %}</h2>

                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">{% trans "Пароли не совпадают или слишком простые." %}</div>
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group mb-4">
                            <input type="{{ field.field.widget.input_type }}"
                                   name="{{ field.name }}"
                                   class="form-control"
                                   placeholder="{{ field.label }}"
                                   required
                                   style="padding: 15px;">
                             {% if field.help_text %}
                                <small class="text-muted" style="font-size: 11px;">{{ field.help_text|striptags }}</small>
                             {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group text-center">
                        <button type="submit" class="button" style="width: 100%; border: none; background: #337d5a; color: #fff; padding: 15px;">
                            {% trans "Сохранить и войти" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
